
 .cartitems {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .cartitems-format-main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .cartitems-format {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    margin: 10px 0;
  }
  
  .carticon-product-icon {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .cartitems-quantity {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .cartitems-remove-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: transform 0.2s;
    margin-right: 100%;
    margin-left: 47%;

  }
  
  .cartitems-remove-icon:hover {
    transform: scale(1.1);
  }
  
  .cartitems-down {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .cartitems-total {
    flex: 1;
    margin-right: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .cartitems-total h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .cartitems-total-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
  
  .cartitems-total button {
    width: 100%;
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .cartitems-total button:hover {
    background-color: #218838;
  }
  .cartitems-promocode{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}
.cartitems-promocode p{
    color: #555;
}
.cartitems-promobox{
     width: 504px;
     margin-top: 15px;
     padding-left: 20px;
     height: 58px;
     background: #eaeaea;
}
.cartitems-promobox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 330px;
    height: 50px;
}
.cartitems-promobox button{
    width: 170px;
    height: 58px;
    font-size: 16px;
    background: black;
    color: white;
    cursor: pointer;
}